/* -------------------------------------------   HOME PAGE   ------------------------------------------------------ */

/*      Yellow           -   rgb(255, 198, 112)       */
/*      Green            -   rgb(0, 75, 56)       */
/*      Green2 (lighter) -   rgb(0, 109, 82)       */

  /* -------------------------------------------   HOME PAGE   ------------------------------------------------------ */

.App {
  text-align: center;
}
.pics {
  width: 200px;
}
.headerMain{
  display: flex;
  position: absolute;
}
* {
  margin: 0;
}

::selection { color: rgb(0, 136, 102)}


/* -------------------------------------------   HOME PAGE   ------------------------------------------------------ */
.mainVideo {
  width: 100%;
  display: flex;
  position: relative;
  /* top: 0; */
  margin-top: -140px;
  margin-bottom: -150px;
  z-index: -5;

}

.videoBox {
  display: flex;
  width: 100%;
  height: 550px;
  /* background-color: rgba(165, 42, 42, 0.151); */
  overflow: hidden;
}

.dashSection1 {
  height: 70px;
  background-color: rgb(255, 198, 112);
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.dashSection2 {
  height: 1000px;
}

.dashCheckList{
  list-style: none;
  /* background-color: cadetblue; */
  display: flex;
  align-items: center;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  /* background-color: teal; */
}

.dashCheckList > li{
margin-right: 40px;
}

.homeTitle {
font-size: 80px;
color: white;
font-family: hind;
}

.homeTitleButton {
  /* background-color: rgb(168, 168, 168); */
  height: 230px;
  width: 100%;
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  top: 150px;
}

.findRideBtn{
  width: 200px;
  height: 60px;
  margin-bottom: 50px;
  position: absolute;
  top: 180px;
  background-color: rgb(0, 92, 69);
  border: none;
  color: white;
  font-size: 17px;
  font-family: hind;
  border-radius: 5px;
}

.locationsText {
font-size: 55px;
font-family: hind;
margin-top: 25px;
color: rgb(44, 44, 44);
}



.userBtn {
  display: flex;
  width: 75px;
  height: 40px;
  position: absolute;
  right: 85px;
  top: 40px;
  background-color: white;
  border-radius: 25px;
  z-index: 2;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.205);

}



.hamburgerBtn {
  width: 14px;
  height: 14px;
  /* margin-top: 1px; */
  /* background-color: tomato; */

}
.profilePicImg {
  width: 30px;
  height: 30px;
  margin-right: -5px;
  border-radius: 50%;
  
}

.profilePicColor {
  background-color: rgba(255, 255, 255, 0.308);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  z-index: 3;
}
.profilePicImg2 {
  width: 30px;
  height: 30px;
  right: 7px;
  border-radius: 50%;
  position: absolute;
}

.loginPopUp {
  background-color: white;
  display: flex;
  position: absolute;
  height: 230px;
  width: 220px;
  right: 85px;
  top: 92px;
  z-index: 1;
  border-radius: 12px;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.35);
  flex-direction: column;
  overflow: hidden;
  transition: all 0.2s;
  height: 0px;
  align-items: center;
}

.show {
  height: 260px;
}


.startOfSomethingText {
  font-family: hind;
  font-size: 21px;
  text-align: left;
  line-height: 1.1;
  position: absolute;
  top: 15px;
  left: 15px;
}
.somethingGoodText {
  /* color: rgb(0, 92, 69); */
}



.homeLoginEmail{
position: absolute;
top: 46px;
margin-top: 41px;
height: 40px;
width: 190px;
/* border-bottom: black 1px solid; */
border: 1px solid black;
border-radius: 5px 5px 0px 0px;
margin-bottom: 10px;
box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.2);
z-index: -2;

}

.homeLoginPassword{
  position: absolute;
  top: 120px;
  margin-top: 10px;
  height: 40px;
  width: 190px;
  /* border-bottom: black 1px solid; */
  border: 1px solid black;
  border-radius: 0px 0px 5px 5px;
  margin-bottom: 60px;
  box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.2);
  z-index: -2;

  
}
.homeLoginEmail:focus {
  outline-width: 0;
}
.homeLoginPassword:focus {
  outline-width: 0;
}
.authHeaderColor{
background-color: rgb(255, 198, 112);
width: 100%;
height: 70px;
}

.holdsAuthButtons{
/* background-color: coral; */
position: absolute;
bottom: 0;
width: 100%;
height: 50px;
display: flex;
justify-content: space-evenly;
z-index: -1;
}
.homeLoginBtn{
  width: 80px;
  height: 35px;
  border: none;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.205);
  background-color: rgb(0, 92, 69);
  color: white;
  font-family: hind;
  
}
.homeSignUpBtn{
width: 80px;
height: 35px;
border: none;
box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.205);
background-color: rgb(0, 92, 69);
color: white;
font-family: hind;
}



.learnMoreText {
  display: flex;
  position: absolute;
  right: 210px;
  top: 40px;
  color: white;
  width: 100px;
  height: 40px;
  /* background-color: teal; */
  align-items: center;
  justify-content: center;
  border-radius: 25px;

}

.worldBtn{
  display: flex;
  right: 183px;
  top: 51px;
  width: 20px;
  height: 20px;
  
}

.worldDiv {
  display: flex;
  position: absolute;
  right: 173px;
  top: 40px;
  color: white;
  width: 40px;
  height: 40px;
  /* background-color: teal; */
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}


.userBtn:hover {
  cursor: pointer;
  background-color: rgb(250, 250, 250);
  transition: 250ms;
}
.worldBtn:hover {
  cursor: pointer;
}
.worldDiv:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.15);
}
.learnMoreText:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.15);
}
.homeLoginBtn:hover {
  cursor: pointer;
  background-color: rgb(0, 122, 92);
}
.homeSignUpBtn:hover {
  cursor: pointer;
  background-color: rgb(0, 122, 92);
}


/* -------------------------------------   UTAH PAGE    -------------------------------------------------- */

.mainImg {
width: 100vw;
height: 550px;
background: url(https://images.squarespace-cdn.com/content/v1/568429b7c647addb5746fafe/1500238782437-PJY4G82PO1DW1VTDQJB7/ke17ZwdGBToddI8pDm48kKAwwdAfKsTlKsCcElEApLR7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QPOohDIaIeljMHgDF5CVlOqpeNLcJ80NK65_fV7S1UegTYNQkRo-Jk4EWsyBNhwKrKLo5CceA1-Tdpfgyxoog5ck0MD3_q0rY3jFJjjoLbQ/utah-desert-vanlife-dogs-2.jpg?format=2500w) ;
background-position-y: 80%;
background-position-x: center;
background-size: cover;

/* background-color: coral; */
}

.mainImgBox {
  display: flex;
  width: 100%;
  height: 550px;
  /* background-color: rgba(165, 42, 42, 0.151); */
  overflow: hidden;
  justify-content: center;
}

.utahText{
  position: absolute;
  font-family: hind;
  background: -webkit-linear-gradient(90deg, rgba(36,32,33,1) 10%, rgba(80,49,46,1) 35%, rgba(226,33,28,1) 50%, rgba(237,116,35,1) 65%, rgba(251,196,36,1) 75%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* text-shadow:  white; */
  font-size: 150px;
  margin-top: -60px;
  /* z-index: 2; */
}



.utahSection1 {
  width: 100vw;
  height: 70px;
  background-color: rgb(255, 198, 112);
}


.mappedUtahVans {
  display: flex;
  flex-direction: row;
  background-color: teal;
  width: 650px;
  height: 200px;
}
